.Icon {
    &-HamburgerMenu {
        display: grid;
        place-items: center;
        transition: rotate 0.2s;

        &_isExpanded {
            rotate: 90deg;

            path {
                fill: var(--color-primary-content);
            }
        }

        path {
            fill: var(--color-primary-content);
            transition: fill 0.2s;
        }

        &:hover {
            path {
                fill: var(--color-theme);
            }
        }
    }
}