.NotificationContainer {
    position: fixed;
    inset-block-start: var(--header-height);
    inset-inline: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: fit-content;
    z-index: 99;
    padding: 1rem;
    // transform: translateY(-100%);
    // opacity: 0;
    // transition: all 0.2s;

    .Notification {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: fit-content;
        min-width: 25%;
        padding-block: 1rem;
        padding-inline: 2rem;
        border-radius: 0.75rem;
        border: 1px solid;
        margin-top: 1rem;
        overflow: hidden;
        background-color: var(--color-primary-background);

        &::before {
            content: "";
            display: block;
            position: absolute;
            inset-block-start: 0;
            inset-inline: 0;
            // background-color: blue;
            height: 0.5rem;
            // border-radius: 0.75rem 0.75rem 0 0;
            // z-index: -1;
        }

        &_INFO {
            border-color: var(--color-neutral-background);
        }

        &_SUCCESS {
            border-color: var(--color-success-background);
        }

        &_WARNING {
            border-color: var(--color-warning-background);
        }

        &_ERROR {
            border-color: var(--color-error-background);
        }

        &_INFO::before {
            background-color: var(--color-neutral-background);
            // color: var(--color-neutral-foreground);
        }

        &_SUCCESS::before {
            background-color: var(--color-success-background);
            // color: var(--color-success-foreground);
        }

        &_WARNING::before {
            background-color: var(--color-warning-background);
            // color: var(--color-warning-foreground);
        }

        &_ERROR::before {
            background-color: var(--color-error-background);
            // color: var(--color-error-foreground);
        }

        &-Content {}

        &-Close {
            margin-inline-start: auto;
        }
    }

    &.visible:not(.fading) {
        transform: translateY(0);
        opacity: 1;
    }


    p {
        width: fit-content;

        @include mobile {
            width: 100%;
            text-align: center;
        }
    }

    .Icon {
        width: 40px;
        height: 40px;
        padding: 8px;
        display: flex;
        align-items: center;

        svg {
            padding: 0;
            width: 100%;
            height: 100%;
            margin: 0;
        }

        // margin: 8px;
    }


    // display: flex;
    // align-items: center;
    // justify-content: center;
    // padding-inline: 32px;
    // padding-block: 8px;
    // position: absolute;
    // top: var(--header-height);
    // inset-inline: 0;
    // opacity: 0;
    // pointer-events: none;
    // transform: translateY(var(--header-height));
    // transition: opacity 0.2s, transform 0.2s;

    // @include mobile {
    //     background-color: var(--color-success-background);
    //     color: var(--color-success-foreground);
    // }

    // p {
    //     margin-block: 0;
    //     opacity: 0;
    // }

    // &_isExpanded {
    //     opacity: 1;
    //     pointer-events: all;
    //     transform: translateY(0);

    //     p {
    //         opacity: 1;
    //     }
    // }

    // &_informative {
    //     background-color: var(--color-neutral-background);
    //     color: var(--color-neutral-foreground);
    // }

    // &_success {
    //     background-color: var(--color-success-background);
    //     color: var(--color-success-foreground);
    // }

    // &_warning {
    //     background-color: var(--color-warning-background);
    //     color: var(--color-warning-foreground);
    // }

    // &_error {
    //     background-color: var(--color-error-background);
    //     color: var(--color-error-foreground);
    // }
}