@import 'variables';
@import 'font';

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-primary-content: rgb(18, 21, 24);
    --color-secondary-content: rgb(43, 49, 56);
    --color-primary-background: var(--color-white);
    --color-secondary-background: rgb(215, 226, 240);
    --color-theme: rgb(204, 18, 18);
    --color-primary-background-transparent: rgba(255, 255, 255, 0.75);

    --color-neutral-background: rgb(27, 152, 168);
    --color-neutral-foreground: var(--color-white);
    --color-success-background: rgb(23, 185, 85);
    --color-success-foreground: var(--color-white);
    --color-warning-background: rgb(230, 195, 43);
    --color-warning-foreground: var(--color-black);
    --color-error-background: rgb(212, 46, 46);
    --color-error-foreground: var(--color-white);

    --content-padding: 32px;

    @include mobile {
        --content-padding: 24px;
    }
}

* {
    box-sizing: border-box;
}

body,
.root {
    margin: 0;
    background-color: var(--color-primary-background);
    font-family: $raleway;
    min-height: 100vh;
}

body {
    &.disable-scrolling {
        overflow: hidden;
    }
}

main {
    &.Page {
        &>div {
            padding-block-start: var(--header-height);
            background-repeat: no-repeat;
            background-size: cover;
        }

        &>div::before {
            content: "";
            display: block;
            position: fixed;
            inset: 0;
            background-color: var(--color-primary-background-transparent);
            backdrop-filter: blur(0.5rem);
            opacity: 0;
        }

        &.cross-page {
            &_enter {
                >div {
                    @include desktop {
                        scale: 1.1;
                    }

                }

                &>div::before {
                    opacity: 1;
                }
            }

            &_exit {
                scale: 1;

                &>div::before {
                    opacity: 0;
                }
            }

            &_enter-active {
                >div {
                    scale: 1;
                    transition: scale 0.2s;
                    transition-timing-function: ease-out;

                }

                &>div::before {
                    opacity: 0;
                    transition: opacity 0.3s;
                    transition-timing-function: ease-out;
                }
            }

            &_exit-active {
                >div {
                    @include desktop {
                        scale: 1.1;
                        transition: scale 0.1s;
                        transition-timing-function: ease-out;
                    }

                }

                &>div::before {
                    opacity: 1;
                    transition: opacity 0.1s;
                    transition-timing-function: ease-out;
                }
            }
        }
    }
}

button {
    cursor: pointer;

    &:hover {
        >.Icon>svg>path {
            fill: var(--color-theme);
        }
    }
}